<ion-view >

  	<div class="bar bar-subheader item-input-inset">  
	  <label class="item-input-wrapper">  
	    <i class="icon ion-ios7-search placeholder-icon"></i>  
	    <input type="search" ng-model="keyword" ng-keydown="setkeyword()" ng-keyup="showMydict(keyword,event=$event)" placeholder="Search">  
	  </label>  
	  <button ng-click="keyword='';dict_result='พิมพ์คำศัพท์ที่ต้องการค้นหา';showloading=false;" class="button button-clear">  
	    Cancel  
	  </button>  
	</div>  

	<ion-content  class="scroll-content ionic-scroll  has-subheader">    
	<div class="list card">  
	  
	  
	    <button ng-show="showloading" class="button button-icon button-block">  
		  <i class="icon ion-loading-c"></i> Loading...  
		</button>  
	   <!--  <div ng-show="!showloading" class="item item-text-wrap" ng-bind-html="dict_result">  
		      
		</div>   -->
		 <!-- <ion-list ng-show="!showloading">  
          <ion-item   
           collection-repeat="item in dict_result"   
           collection-item-width="'100%'"   
           collection-item-height="49"   
           ng-style="{width:'100%'}"  
           >  
            Hello, {{item.post_title}}!  
          </ion-item>  
        </ion-list>  -->
	 
	</div>    

	<ul  ng-show="!showloading" style="margin-top: 10px; " collection-repeat="item in dict_result" collection-item-width="'100%'"  item-height="99px"  ng-style="{width:'100%'}"   >
		<li >
			<div style="background-color: #fff;" ng-style="{width:'100%'}" >    
				<a href="#/app/news/{{item.ID}}/{{item.term_taxonomy_id}}" >
					<div class="sp-list" >
						<div class="col-40">
							<img id="img_{{item.ID}}" ng-src="{{item.guid != null ? item.guid:'img/default.jpg'}}">
						</div>
						<div class="sp-list-detail ">
							<div class="sp-list-header">
							{{substring(item.post_title)}}
							</div>
							<div class="sp-list-date">
							<i class="icon ion-ios-calendar-outline box-news-icon"></i>	
							{{date(item.post_date)}} 
							</div>
						</div>
					</div>
				</a>
				<div style="width: 100px;height: 0.5px;" ng-style="{width:'100%'}"></div>
			</div> 
		</li>
	</ul> 
	  
	</ion-content>     
</ion-view>
