<ion-view >

  	<div class="bar bar-subheader item-input-inset" style="height: 65px;">  
	  <label class="item-input-wrapper" style="margin-top: 3%;">  
	    <i class="icon ion-search placeholder-icon"></i> 
	    <input type="search" ng-model="keyword" ng-keydown="setkeyword()" ng-keyup="showMydict(keyword,event=$event)" placeholder="Search">  
	  </label>  

   	  <button style="height: 10px;margin-top: 3%;" ng-click="keyword='';dict_result=[];showloading=false;" class="button button-small button-stable">Cancel</button>

	</div>  

	<ion-content  class="scroll-content ionic-scroll  has-subheader">    
	  
	<button ng-show="showloading" class="button button-full" style="margin-top: 6%;">  
		<ion-spinner icon="lines"> Loading...  </ion-spinner> 
    </button>  

	<ul style="margin-top: 30px;" ng-show="!showloading" style="margin-top: 10px; " collection-repeat="item in dict_result" collection-item-width="'100%'"  item-height="99px"  ng-style="{width:'100%'}"   >
		<li >
			<div style="background-color: #fff;" ng-style="{width:'100%'}" >    
				<a href="#/app/news/{{item.ID}}/{{item.term_taxonomy_id}}" >
					<div class="sp-list" >
						<div class="col-40">
							<img id="img_{{item.ID}}" ng-src="{{item.guid != null ? item.guid:'img/default.jpg'}}">
						</div>
						<div class="sp-list-detail ">
							<div class="sp-list-header">
							{{substring(item.post_title)}}
							</div>
							<div class="sp-list-date">
							<i class="icon ion-ios-calendar-outline box-news-icon"></i>	
							{{date(item.post_date)}} 
							</div>
						</div>
					</div>
				</a>
				<div style="width: 100px;height: 0.5px;" ng-style="{width:'100%'}"></div>
			</div> 
		</li>
	</ul> 

			<br/>
			<br/>
			<div class="sp-footer" >
				<div class="sp-title">FOLLOW US</div>
				<div class="sp-social">

					<a href="https://www.facebook.com/SpringNewsTV" target="_system" alt="Facebook" title="Facebook"><img  ng-src="./img/social/facebook.png" class="box-news-img"></a>

					<a href="https://www.twitter.com/SpringNews_TV" target="_system" alt="Twitter" title="Twitter"><img  ng-src="./img/social/twitter.png" class="box-news-img"></a>

					<a href="https://www.google.com/+springnews" target="_system" alt="Google+" title="Google+"><img  ng-src="./img/social/google_plus.png" class="box-news-img"></a>

					<a href="https://www.instagram.com/springnewstv/" class="the-social-links tsl-circle tsl-24 tsl-default tsl-youtube" target="_system" alt="Instagram" title="Instagram"><img  ng-src="./img/social/ig.png" class="box-news-img"></a>

					<a href="https://www.youtube.com/springnewsonline" class="the-social-links tsl-circle tsl-24 tsl-default tsl-instagram" target="_system" alt="Youtube" title="Youtube"><img  ng-src="./img/social/tyoutube.png" class="box-news-img"></a>

					<a href="http://line.me/ti/p/~odeen" target="_system" alt="Line" title="Line"><img  ng-src="./img/social/line.png" class="box-news-img"></a>
				</div>
			</div>	
	</ion-content>     
</ion-view>
