.font-ship-261 {
      margin: 0 20px;
}

.font-ship-2{
      margin: 0 20px 10px 20px;
      text-indent: 20px;
}
.wcs3-schedule-wrapper{
      margin: 0 20px;
}

.post-content-wrap div{
      margin: 0 20px;
}

.box-news-header.invis {
  text-align: center;
    background: none;
    font-size: 0;
    border: none;

}

.button-1{
  display: none;
}

.btn-2{
  display: none;
}

.btn-right{
  display: none;
}
.buttonload{

  font-size: 14px;
  background: none;
  border: none;
}

.box-news {
  padding-bottom: 10px;
}

.box-schedule {
  border-bottom: 2px solid #31b5c2;
}

.borderblue{
  border-bottom: 2px solid #31b5c2;

}

.mh-widget-title{
  display: none;
}

.England{
  display: none;
}

.thai{
  margin: 0px;
}

.about .th-2{
  margin-left: 20px;
  margin-right: 20px; 
}

.about center{
  border-bottom: 2px solid #31b5c2;
}

.post-content-wrap .thai{
  margin: 0px;
}

.post-content-wrap center{
  border-bottom: 2px solid #31b5c2;
}

.contact-bor{
  border-bottom: 2px solid #31b5c2;
}

.action-box{
  font-size: 14px;
  padding: 2px;
}
.hide-box{
  background: none;
  border: none;
}

.live{

  text-align: left;
  margin-top: 2px;
}

.box-item-schedule-feed-head{
  height: 45px;
  padding: 12px;
  margin: 0 2px 2px 0;
  color: #fff;
  font-family: 'Conv_SukhumvitReg','Conv_Frank-Regular';
  background-color: #4c4c4c;
  border-color: #4c4c4c;
  text-align: center;
  padding-bottom: 0;
}

.box-item-schedule-1-feed{
  height: 45px;
  padding: 12px;
  margin: 0 2px 2px 0;
  font-family: 'Conv_SukhumvitReg','Conv_Frank-Regular';
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  border-width: 1.9px;
  text-align: left;
}
.box-item-schedule-1-feed.two{
  text-align: center;
}

.box-item-schedule-2-feed{
  height: 45px;
  padding: 12px;
  margin: 0 2px 2px 0;
  border-color: #dcdcdc;
  background-color: #dcdcdc;
  text-align: left;
  font-family: 'Conv_SukhumvitReg','Conv_Frank-Regular'
}

.box-item-schedule-2-feed.two{
  text-align: center;
}
/*
.nav-bar-block > .bar-calm {
  background-color: #31b5c2;
}*/

.bar.bar-calm {
    border-color: #0a9dc7;
    background-color: #31b5c2;
    background-image: linear-gradient(0deg, #0a9dc7, #0a9dc7 50%, transparent 50%);
    color: #fff;
}

.radioimg {
  background: url("../img/RadioBG.png") no-repeat;
  background-size: 100% auto;
  background-position: center top -40px;
  width: 100%;
  height: 300px;
}

.buttonradio {
  text-align: center;

}

.buttonradio a {
  display: inline-block;
  vertical-align: top;
}

#springradio {
  position: absolute;
}
/* accordion*/

.accordion {
  /*border: 1px solid white;*/
  /*padding: 0 10px;*/
  margin: 0 auto;
  list-style: none outside;
}

.accordion > * + * { border-top: 1px solid white; }

.accordion-item-hd {
  display: block;
  padding: 15px 30px 15px 0;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.accordion-item-input:checked ~ .accordion-item-bd {
  max-height: 1000px;
  /*padding-top: 15px;*/
  /*margin-bottom: 15px;*/
  -webkit-transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
  transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
}

.accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.accordion-item-hd-cta {
  display: block;
  width: 30px;
  position: absolute;
  top: calc(50% - 6px );
  right: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  text-align: center;
  font-size: 12px;
  line-height: 1;
}

.accordion-item-bd {
  max-height: 0;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
  transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
}

.accordion-item-input {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1;
  overflow: hidden;
  position: absolute;
  left: -9999px;
}

.accordion-item-bd .box-item-schedule-1{
  height: 140px !important;
  padding: 0;
}

.accordion-item-bd .box-item-schedule-1 img{
  width: 100%;
  height: 140px;
}

.accordion-item-bd .box-item-schedule-2{
  min-height: 140px;
  overflow: hidden;
}

.accordion-item-bd .box-item-schedule-2 > div{
  overflow: hidden;
  height: 100%;
}

/********************/

.acdropdown {
  position: relative;
}

.acdropdown > label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



