/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 

.tabbed-slidebox .slider {
    height: 100%;
}
.tabbed-slidebox.btm .slider {
    margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
    width: 100%;
}

.tabbed-slidebox .slider-slide {
    padding-top: 0px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-weight: 300;
    background-color: #fff;
}

.tabbed-slidebox .tsb-icons {
    text-align: center;
    margin: 0px 0;
    /*position: relative;*/
    /*background-color:#fff;*/
}

.tabbed-slidebox .tsb-ic-wrp {
    display: flex;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
    -webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tsb-icons a {
    display: inline-block;
    width: 54px;
    font-size: 2.5em;
    color: #fff;
    /*-webkit-transform:translate3d(0,8px,0);*/
}

.tsb-icons-pr a.active {
   /* color: rgba(0, 0, 0, 1);*/
   background-color: rgb(95, 198, 208);
    font-size: 3.5em;
    /*-webkit-transform:translate3d(0,0,0);*/
}

.tabbed-slidebox .tsb-icons a.active {
   /* color: rgba(0, 0, 0, 1);*/
   background-color: rgb(95, 198, 208);
    font-size: 3.5em;
    /*-webkit-transform:translate3d(0,0,0);*/
}

.tabbed-slidebox .tabbed-slidebox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

/*.tabbed-slidebox .tsb-icons:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.4em 1.4em 1.4em;
    border-color: transparent transparent #0398dc transparent;
    position: absolute;
    content: "";
    display: block;
    bottom: -12px;
    left: 50%;
    margin-left: -14px;
}*/
.tsb-hscroll.scroll-view{
    white-space: nowrap;
    margin:0 auto;
}
.tsb-hscroll.scroll-view .scroll-bar{
    visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
    -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a{
    width:auto;
    font-size: 1.4em;
    /*line-height: 1.5em;*/
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 0px solid transparent;
}
.tabbed-slidebox .tsb-icons .scroll a.active {
    font-size: 1.5em;
    /*border-bottom: 3px solid #ccc;*/
    width: 30%;
    height: 40px;
   /* padding-top: 3px;*/
}

.main-menu-home{
    background-color: #31b5c2;
    float: left;
    position: fixed;
    top: -11px;
    left: 0px;
    padding: 10px 0px;
    font-size: 16px;
    z-index: 999999;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.main-menu-home-a:active{
    width: 50px;
    margin-left: 0px;
}


/* Styles */ }

/* iPads (portrait and landscape) ———– */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { /* Styles */ 

.tabbed-slidebox .slider {
    height: 100%;
}
.tabbed-slidebox.btm .slider {
    margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
    width: 100%;
}

.tabbed-slidebox .slider-slide {
    padding-top: 0px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-weight: 300;
    background-color: #fff;
}

.tabbed-slidebox .tsb-icons {
    text-align: center;
    margin: 0px 0;
    /*position: relative;*/
    /*background-color:#fff;*/
}

.tabbed-slidebox .tsb-ic-wrp {
    display: flex;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
    -webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tsb-icons a {
    display: inline-block;
    width: 54px;
    font-size: 2.5em;
    color: #fff;
    /*-webkit-transform:translate3d(0,8px,0);*/
}

.tsb-icons-pr a.active {
   /* color: rgba(0, 0, 0, 1);*/
   background-color: rgb(95, 198, 208);
    font-size: 3.5em;
    /*-webkit-transform:translate3d(0,0,0);*/
}

.tabbed-slidebox .tsb-icons a.active {
   /* color: rgba(0, 0, 0, 1);*/
   background-color: rgb(95, 198, 208);
    font-size: 3.5em;
    /*-webkit-transform:translate3d(0,0,0);*/
}

.tabbed-slidebox .tabbed-slidebox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

/*.tabbed-slidebox .tsb-icons:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.4em 1.4em 1.4em;
    border-color: transparent transparent #0398dc transparent;
    position: absolute;
    content: "";
    display: block;
    bottom: -12px;
    left: 50%;
    margin-left: -14px;
}*/
.tsb-hscroll.scroll-view{
    white-space: nowrap;
    margin:0 auto;
}
.tsb-hscroll.scroll-view .scroll-bar{
    visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
    -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a{
    width:auto;
    font-size: 1.4em;
    /*line-height: 1.5em;*/
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 0px solid transparent;
}
.tabbed-slidebox .tsb-icons .scroll a.active {
    font-size: 1.5em;
    /*border-bottom: 3px solid #ccc;*/
    width: 30%;
    height: 40px;
   /* padding-top: 3px;*/
}

.main-menu-home{
    background-color: #31b5c2;
    float: left;
    position: fixed;
    top: -11px;
    left: 0px;
    padding: 10px 0px;
    font-size: 16px;
    z-index: 999999;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.main-menu-home-a:active{
    width: 50px;
    margin-left: 0px;
}


}


/*////////////////////////*/
